.backdrop {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);

  background: $backColorModal;
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;

  transition: visibility $duration $cubic;
}

.backdrop.is-hidden .modal {
  // transform: translate(-50%, -50%) scale(1.1);
  transform: scale(1.1);
}
