.container {
  // width: 1200px;
  // margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
// .container.adaptive {
//   max-width: 320px;
// }

// -----------------Mobile---------------
@media screen and (min-width: $mobile) {
  .container {
    width: $mobile;
  }
}

// ----------------------Tablet--------------------------------
@media screen and (min-width: $tablet) {
  .container {
    max-width: $tablet;
  }
}

// ------------------------Desktop----------------------
@media screen and (min-width: $desktop) {
  .container {
    max-width: $desktop;
  }
}

// -----------------Mobile---------------
@media screen and (min-width: $mobile) {
}

// ----------------------Tablet--------------------------------
@media screen and (min-width: $tablet) {
}

// ------------------------Desktop----------------------
@media screen and (min-width: $desktop) {
}
