.contacts {
  display: none;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: inline-flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: $colMinor;
    transition: color $duration $cubic;
  }
  &__link:hover,
  &__link:focus {
    color: $accentColor;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  display: none;
}

// -----------------Mobile---------------
@media screen and (min-width: $mobile) {
  .contacts {
  }
}

// ----------------------Tablet--------------------------------
@media screen and (min-width: $tablet) {
  .contacts {
    display: block;
    max-width: 138px;

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
    &__link {
      padding-top: 0;
      padding-bottom: 0;

      font-size: 12px;
      line-height: 1.17;
    }

    &__icon {
      margin-right: 8px;
    }
  }
}

// ------------------------Desktop----------------------
@media screen and (min-width: $desktop) {
  .contacts {
    max-width: 350px;
    display: flex;
    margin-left: 0;

    min-width: 160px;

    &__link {
      padding-top: 20px;
      padding-bottom: 20px;

      font-size: 14px;
      line-height: 1.14;
    }
  }
}
