.logo {
  font-family: $fontMinor;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: $accentColor;
  transition: color $duration $cubic;

  &:hover,
  &:focus {
    color: #188ce8;
  }

  &__span {
    color: #000000;
    transition: color $duration $cubic;
  }
  &:hover &__span,
  &:focus &__span {
    color: rgba(0, 0, 0, 0.7);
  }
}

// -----------------Mobile---------------
@media screen and (min-width: $mobile) {
}

// ----------------------Tablet--------------------------------
@media screen and (min-width: $tablet) {
}

// ------------------------Desktop----------------------
@media screen and (min-width: $desktop) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
