.select-list {
  // display: flex;
  // gap: 8px;
  // justify-content: center;
  margin-bottom: 40px;

  &__item {
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 15px;
  }
  &__item:nth-child(n + 4) {
    margin-bottom: 0;
  }

  &__btn {
    display: inline-block;
    padding: 6px 22px;

    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

    background: #f5f4fa;
    border-radius: 4px;
    border-color: transparent;

    transition: background-color $duration $cubic, color $duration $cubic,
      box-shadow $duration $cubic;
  }
  &__btn:hover,
  &__btn:focus {
    background: $accentColor;
    color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.list-filtr {
  // display: flex;
  // gap: 30px;
  // flex-wrap: wrap;
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
  &__item {
    max-width: 450px;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    transition: box-shadow $duration $cubic;
  }

  &__link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__link:hover .img-action__text {
    opacity: 1;
    transform: translate(0);
  }
}

.img-action {
  position: relative;
  overflow: hidden;

  &__photo {
    max-width: 450px;
    max-height: 404px;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(100%);

    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    background: rgba(33, 150, 243, 0.9);
    color: white;

    transition: transform $duration $cubic, opacity $duration $cubic;
  }
}

.name-card {
  width: 450px;
  border: 1px solid #eeeeee;
  border-top: none;

  &__title {
    margin-bottom: 4px;
    padding: 0 24px;
    padding-top: 20px;

    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    color: $colMain;
  }
  &__text {
    padding: 20px 24px;
    padding-top: 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: $colMinor;
  }
}
