.section-title {
  font-size: 28px;
  line-height: 1.83;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-title--bottom {
  margin-bottom: 30px;
}

// -----------------Mobile---------------
@media screen and (min-width: $mobile) {
  .section-title {
  }
}
.section-title--bottom {
}

// ----------------------Tablet--------------------------------
@media screen and (min-width: $tablet) {
}

// ------------------------Desktop----------------------
@media screen and (min-width: $desktop) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
  }
  .section-title--bottom {
    margin-bottom: 50px;
  }
}
