$fontMain: "Roboto", sans-serif;
$fontMinor: "Raleway";
$accentColor: #2196f3;
$accentColorHover: #188ce8;
$colMain: #212121;
$colMinor: #757575;
$backColorMain: #ffffff;
$backColorModal: rgba(0, 0, 0, 0.2);
$duration: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$borderColor: rgba(0, 0, 0, 0.1);
$colFill: #afb1b8;
