.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  background: #2f303a;

  .container--footer-flex {
  }
}

.logo--bottom-gap {
  display: inline-block;
  margin-bottom: 20px;
}
.logo__span--white {
  color: white;
  transition: color $duration $cubic;
}
.logo:hover .logo__span--white {
  color: #c4c4c4;
}

// -----------------Mobile---------------
@media screen and (max-width: ($tablet - 1px)) {
  .footer {
  }
  .container--footer-flex {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo--bottom-gap {
  }
  .logo__span--white {
  }
  .logo:hover .logo__span--white {
  }
}

// ----------------------Tablet--------------------------------
@media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
  .footer {
  }
  .footer .container {
    padding-left: 0;
    padding-right: 0;
  }
  .container--footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

// ------------------------Desktop----------------------
@media screen and (min-width: $desktop) {
  .footer {
    padding: 60px 0px 60px 0px;
    text-align: left;
    .container--footer-flex {
      display: flex;
    }
  }
  .logo--bottom-gap {
  }
  .logo__span--white {
  }
  .logo:hover .logo__span--white {
  }
}
