.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  background: #2f303a;

  .container--footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.logo--bottom-gap {
  display: inline-block;
  margin-bottom: 20px;
}
.logo__span--white {
  color: white;
  transition: color $duration $cubic;
}
.logo:hover .logo__span--white {
  color: #c4c4c4;
}

// -----------------Mobile---------------
@media screen and (min-width: $mobile) {
  .footer {
    .container--footer-flex {
    }
  }
  .logo--bottom-gap {
  }
  .logo__span--white {
  }
  .logo:hover .logo__span--white {
  }
}

// ----------------------Tablet--------------------------------
@media screen and (min-width: $tablet) {
  .footer {
    padding: 60px 89px 60px 76px;
    .container--footer-flex {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
  .logo--bottom-gap {
  }
  .logo__span--white {
  }
  .logo:hover .logo__span--white {
  }
}

// ------------------------Desktop----------------------
@media screen and (min-width: $desktop) {
  .footer {
    padding: 60px 0px 60px 0px;
    text-align: left;
    .container--footer-flex {
    }
  }
  .logo--bottom-gap {
  }
  .logo__span--white {
  }
  .logo:hover .logo__span--white {
  }
}
