.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
// -----------------Mobile---------------
@media screen and (max-width: ($tablet - 1px)) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// ----------------------Tablet--------------------------------
@media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
  .header_mobile {
    display: block;
  }
  .header {
    display: flex;
    align-items: center;
  }
}

// ------------------------Desktop----------------------
@media screen and (min-width: $desktop) {
  .header {
    display: flex;
    align-items: center;
  }
}
