.header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  border-bottom: 1px solid #ececec;
  // display: flex;
  // align-items: center;
  .header_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// -----------------Mobile---------------
@media screen and (min-width: $mobile) {
  .header {
  }
}

// ----------------------Tablet--------------------------------
@media screen and (min-width: $tablet) {
  .header_mobile {
    display: block;
  }
  .header {
    display: flex;
    align-items: center;

    padding-top: 0;
    padding-bottom: 0;
  }
}

// ------------------------Desktop----------------------
@media screen and (min-width: $desktop) {
  .header {
    display: flex;
    align-items: center;
  }
}
