.hero {
  padding-top: 120px;
  padding-bottom: 120px;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background-hero.jpg");
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: white;
  }

  &__btn {
    display: inline-block;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: white;
    background: $accentColor;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color $duration $cubic;
  }

  &__btn:hover,
  &__btn:focus {
    background: $accentColorHover;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    &__title {
    }

    &__btn {
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    &__title {
      max-width: 360px;
    }

    &__btn {
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 100%;
    &__title {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }

    &__btn {
    }
  }
}
