.hero {
  padding-top: 120px;
  padding-bottom: 120px;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: white;
  }

  &__btn {
    display: inline-block;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: white;
    background: $accentColor;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color $duration $cubic;
  }

  &__btn:hover,
  &__btn:focus {
    background: $accentColorHover;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url("../images/hero-bg-image/hero480x2.jpg");
    }
    background-image: url("../images/hero-bg-image/hero480x1.jpg");

    &__title {
    }

    &__btn {
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url("../images/hero-bg-image/hero768x2.jpg");
    }
    background-image: url("../images/hero-bg-image/hero768x1.jpg");
    &__title {
      max-width: 360px;
    }

    &__btn {
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 100%;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url("../images/hero-bg-image/hero1200x2.jpg");
    }
    background-image: url("../images/hero-bg-image/hero1200x1.jpg");

    &__title {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }

    &__btn {
    }
  }
}
